* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbda03;
}

.top {
  flex-basis: 10%;
  width: 100vw;
  background-color: white;
  color: black;
  text-align: center;
}

.infoBody {
  flex-basis: 50%;
  background-color: #fbda03;
  display: flex;
  width: 50vw;
  max-height: 100%;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px solid #3357c4;
  border-radius: 15px;
}

.form-group {
  text-align: center;
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
  font-weight: bold;
}

.excuseText {
  flex-grow: 1;
  width: 100%;
  padding: 40px;
  text-align: center;
  color: #3357c4;
  font-weight: bold;
  font-size: large;
}

.formDiv {
  border-bottom: 3px solid blue;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-primary { 
  background-color: #081fb9 !important;
  flex-grow: 1;
  flex-basis: 50%;
}

@media only screen and (max-width: 1300px) {
  .infoBody {
    width: 60vw;
  }
}

@media only screen and (max-width: 1100px) {
  .btndiv {
    flex-grow: 1;
  }
  .form-group {
    justify-content: start;
  }

  .excuseText {
    padding: 20px;
  }

  .infoBody {
    width: 70vw;
  }
}
